body{
    background: 1% 10% url("../images/background.jpg");
    font-family: Roboto, serif;
}

button:active,
button:focus{
    outline: none;
}

.wrapper{
    max-width: 960px;
    margin: auto;
}

.header{
    padding: 25px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.socials{
    display: flex;
    align-items: center;
}

.socials__item{
    margin: 0 25px 0 0;
}
.socials__item:last-child{
    margin: 0;
}

.yellow-container{
    max-width: 960px;
    background: #ffe33e;
    margin: 28px 0 207px 0;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.yellow-container__header{
    background: linear-gradient(180deg, rgba(255, 231, 89, 0.5) 0%, rgba(233, 201, 15, 0.5) 100%);
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-name{
    margin: 9px 0 9px 35px;
    font-size: 24px;
    line-height: 28px;
    color: #525252;
}

.container-logo{
    margin: 0 26px;
}

.yellow-container__content{
    /*padding: 42px 0 0 0;*/
}

.options-row{
    display: flex;
    justify-content: space-between;
    margin: 32px 38px 0 38px;
    align-items: center;
}

.options-row--flex-start{
    width: 506px
    /*justify-content: flex-start;*/
}

.input{
    display: flex;
    flex-direction: column;
    position: relative;
}

.input__label{
    font-size: 14px;
    line-height: 16px;
    color: #525252;
    margin: 0 0 7px 0;
}

/*.input__select::after{*/
/*    content: "";*/
/*    display: block;*/
/*    border-style: solid;*/
/*    border-width: 6px 5px 0 5px;*/
/*    border-color: #000 transparent transparent transparent;*/
/*    pointer-events: none;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 1rem;*/
/*    z-index: 1;*/
/*    margin-top: -3px;*/
/*}*/


.input__input{
    width: 242px;
    height: 40px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    padding:  0 0 0 16px;
}

.input__input:hover{
    cursor: pointer;
}

.input__input:focus{
    outline: none;
}

.input__select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white url("../images/down-arrow 4.svg") 95% no-repeat;
}

.input__date{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input__date-label{
    width: 242px;
}

.input__date-label:hover{
    cursor: pointer;
}



.input__date-label::after{
    content: url('../images/calendar.svg');
    display: block;
    /*border-style: solid;*/
    /*border-width: 6px 5px 0 5px;*/
    /*border-color: #000 transparent transparent transparent;*/

    pointer-events: none;
    position: absolute;
    bottom: 0;
    right: -10px;
    z-index: 1;
    /*margin-top: -3px;*/
}

/*.input__date-label img{*/
/*    margin: 0 0 0 10px;*/
/*}*/

/*.input__input:focus{*/
/*    border: none;*/
/*}*/

.input--disabled{
    pointer-events: none;
}
.input--disabled:hover{
    cursor: none;
}

.input__button{
    position: absolute;
    right: 0;
    bottom: 10%;
    margin: 0 10px 0 0;
    background: none;
    border: none;
}

.frame{
    margin: 29px 0 0 33px;
    width: 540px;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    text-align: center;
}

.options-row__frame{
    width: 200px;
    align-self: flex-end;
    margin-bottom: 7px;
}

.frame__radio-label{
    /*margin: 0 50px 0 0;*/
    font-size: 14px;
    line-height: 16px;
    color: #525252;
}

.frame__radio-input{
    margin: 0;
}

.frame__radio-label:last-child{
    margin: 0;
}

.frame--squeezed{
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.25), inset 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.input-mini, .input-mini .input__select{
    width: 114px;
}

.input--middle{
    width: 193px;
}

.yellow-container_header2{
    margin: 80px 0 0 0;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.button{
    background: #F5E47C;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 242px;
    height: 40px;
    border: none;

    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.button:hover{
    cursor: pointer;
    opacity: 80%;
}

.agreement{
    display: flex;
}

.yellow-container__text{
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.footer{
    background: linear-gradient(180deg, #FFE33E 0%, #D6B913 100%);
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.contacts{
    margin: 15px;
    padding: 15px;
}

.contacts__dt{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #525252;

}

.contacts__dd{
    font-size: 14px;
    line-height: 16px;

    color: #525252;
}

td{
    padding: 3px 5px;
}

.agreement{
    padding: 50px 70px;
}

#agreement__checkbox{
    border: 10px solid black;
}

.agreement .yellow-container__text{
    margin: 0 0 0 19px;
}
/*.options-row--flex-start{*/
/*    width: 506px;*/
/*}*/